body {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
}

ul {
    list-style: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

.test {
    color:black;
}​

.sentence {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sentence-number {
    padding: 40px 0;
    width: 13%;
    margin-right: 5px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    color: #0E5A8A;
    text-align: center;
    box-shadow: 0 0 5px rgb(182, 181, 181);
    border-radius: 5px;
    cursor: pointer;
}

.sentence-content {
    padding: 30px 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 82%;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 5px rgb(182, 181, 181);
    border-radius: 5px;
    cursor: pointer;
}

.sentence:hover .sentence-number {
    box-shadow: 0 0 10px rgb(165, 164, 164);
}

.sentence:hover .sentence-content {
    box-shadow: 0 0 10px rgb(165, 164, 164);
}

.topOrBottomSentence {
    opacity: 0.5;
    padding: 20px 0;
}

.arrows {
    width: 15%;
    margin-left: 50%;
    margin-top: -20px;
}

.scroll-up {
    margin-left: 50%;
    margin-top: 10px;
}

.scroller {
    color: #137CBD;
    cursor: pointer;
}

.scroller:hover {
    color: #0E5A8A;
}

.hidden {
    display: none;
}